body { background: black; 
}
.shape{
	position: absolute;
	background: #f500b9;
}

.r.letter{
	left: 20px;
}
.rectangle{
	position: absolute;
	width: 30px;
	height: 130px;
}


.curve{
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.r.curve.shape{
	width:70px;
	position: absolute;
}

.letter{
	position: relative;
	width: 100px;
	display: inline-block;
}

.bottom{
	top: 100px;
	transform: rotate(180deg);
}

.o-bar{
	width: 30px;
	height: 80px;
	left: 30px;
	top: 30px;
}

.o-bar.right{
	left: 80px;
}

.s-bar{
	width: 30px;
	height: 40px;
	left: 30px;
	top: 30px;
	border-bottom-left-radius: 20px;
}

.middle.curve{
	top:50px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 20px;
}

.s-bar.left{
	left: 80px;
	top: 80px;
	border-bottom-right-radius: 20px;
}

.i.letter{
	left: 30px;
}

.i.rectangle.shape{
	border-bottom-left-radius: 20px;
	height: 90px;
	top: 40px;
}

.i.dot.shape{
	width: 30px;
	height: 30px;

}
.i.dot.end.shape{
	top: 100px;
	right: 40px;
	border-bottom-right-radius: 20px;
}

.e.rectangle.shape{
	border-top-left-radius: 30px;
	border-bottom-left-radius: 20px;
}

.e.bar{
	width: 60px;
	height: 30px;
	left:30px;
}

.e.bar.top.shape{
	border-top-right-radius: 40px;
}

.e.bar.middle.shape{
	transform: rotate(180deg);
	top: 50px;
	border-top-left-radius: 20px;
}

.e.bar.bottom.shape{
	transform: rotate(180deg);
	border-top-left-radius: 20px;
}

.e.right-bar.shape{
	width: 30px;
	height: 20px;
	top: 30px;
	right: 10px;
}

.l.rectangle.shape{
	border-bottom-left-radius: 20px;
	height: 130px;
}

.l.dot.end.shape{
	top: 100px;
	right: 40px;
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 20px;
}

.d.rectangle.shape{
	right: 50px;
	border-bottom-left-radius: 20px;
	height: 130px;
}

.d.dot.end.shape{
	top: 100px;
	right: 20px;
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 20px;
}	
.d.bar{
	width: 60px;
	height: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	left: -30px;	
}

.d.bar.top.shape{
	top: 40px;
}

.d.bar.side.shape{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transform: rotate(-90deg);
	width: 40px;
	top: 70px;
	left: -35px;
}

.x.rectangle.shape{
	transform: rotate(45deg);
	left: 35px;
	height: 150px;
	top:-10px;
}

.x.rectangle.shape.left{
	transform: rotate(-45deg);
	left:40px;
}

.g.rectangle.shape{
	left: 100px;
	height: 180px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 20px;
}

.g.bar{
	width: 90px;
	height: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	left: 30px;	
}

.g.bar.top.shape{
	top: 0px;
	border-top-left-radius: 40px;
}

.g.bar.side.shape{
	border-top-right-radius: 0px;
	transform: rotate(-90deg);
	width: 70px;
	top: 50px;
	left: 10px;
}
.g.bar.bottom.shape{
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	top: 80px;
}

.g.bar.bottom.shape.two{
	border-top-left-radius: 14px;
	top: 150px;
}
.h.rectangle.shape{
	height: 130px;
	left: 50px;
}

.h.dot.end.shape{
	top: 100px;
	right: -68px;
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 20px;
}	
.h.bar{
	width: 60px;
	height: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	left: 80px;	
}

.h.bar.top.shape{
	top: 40px;
}

.h.bar.side.shape{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transform: rotate(-90deg);
	width: 65px;
	top: 83px;
	left: 93px;
}

.a.rectangle.shape{
	right: -75px;
	border-bottom-left-radius: 20px;
	height: 130px;
}

.a.dot.end.shape{
	top: 100px;
	right: -105px;
	width: 30px;
	height: 30px;
	border-bottom-right-radius: 20px;
}	
.a.bar{
	width: 60px;
	height: 30px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	left: 85px;	
}

.a.bar.top.shape{
	top: 40px;
}

.a.bar.side.shape{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	transform: rotate(-90deg);
	width: 40px;
	top: 70px;
	left: 80px;
}

.a.curve.shape{
	left: 85px;
}